<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.github.boyarsky1997.tictactoe.servlet.MyServlet</servlet-class>
    </servlet>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>